.signup {
  margin-top: 15px;
}

.table-col-title {
  width: 50%;
  vertical-align: middle !important;
}

.table-col-created,
.table-col-due-date,
.table-col-priority {
  width: 10%;
  text-align: center;
  vertical-align: middle !important;
}

.table-col-actions {
  width: 20%;
  text-align: center;
  vertical-align: middle !important;
}

.action {
  display: inline-block;
  margin-left: 10px;
}

tr {
  height: 51px;
}
