<div class="container">
  <nav class="navbar navbar-default">
    <div class="navbar-header">
      <div class="navbar-brand">todolist</div>
    </div>
  </nav>
  <form class="form-inline" ng-submit="login()">
    <label>Login:</label>
    <div class="form-group">
      <input type="email"
             class="form-control"
             placeholder="Your email"
             ng-model="user.email"
             ng-disabled="submitting">
    </div>
    <div class="form-group">
      <input type="password"
             class="form-control"
             placeholder="Your password"
             ng-model="user.password"
             ng-disabled="submitting">
    </div>
    <button type="submit" class="btn btn-primary" ng-disabled="submitting">Log in</button>
    <a class="btn btn-default" ng-click="signup()" ng-disabled="submitting">Sign up</a>
  </form>
  <br/>
  <errors value="{{user.errors}}"></errors>
</div>
