<div class="container">
  <a logout>Logout</a>
  <p>What would you like to do?</p>
  <form class="form-inline">
    <div class="form-group">
      <input type="text" class="form-control" ng-model="newTodo.title">
    </div>
    <button class="btn btn-default" ng-click="createTodo()">Create</button>
  </form>
  <br/>
  <form class="form-inline" ng-repeat="todo in todos" todo-hover>
    <div class="checkbox" ng-click="toggleCompleted(todo)">
      <label ng-class="{'todo-completed': todo.completed}">
        <input type="checkbox" ng-model="todo.completed">
        {{todo.title}}
      </label>
    </div>
    <a href ng-click="deleteTodo(todo)" todo-show-on-hover>Delete</a>
  </form>

  <table class="table">
    <thead>
      <tr>
        <th></th>
        <th>Created</th>
        <th>Due Date</th>
        <th>Priority</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="todo in todos">
        <td>
          <form class="form-inline">
            <div class="checkbox">
              <label>
                <input type="checkbox" ng-model="todo.completed">
                {{todo.title}}
              </label>
            </div>
          </form>
        </td>
        <td>
          {{todo.created_at}}
        </td>
        <td>
          {{todo.due_date}}
        </td>
        <td>
          {{todo.priority}}
        </td>
        <td>
          <a href ng-click="deleteTodo(todo)">Delete</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
