<div class="container">
  <a logout>Logout</a>
  <p>What would you like to do?</p>
  <form class="form-inline">
    <div class="form-group">
      <input type="text" class="form-control" ng-model="newTodo.title">
    </div>
    <button class="btn btn-default" ng-click="createTodo()">Create</button>
  </form>
  <br/>

  <table class="table">
    <thead>
      <tr>
        <th>Todo</th>
        <th>Created</th>
        <th>Due Date</th>
        <th>Priority</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="todo in todos"
          ng-mouseenter="hover=true"
          ng-mouseleave="hover=false"
          ng-class="{'text-muted': todo.completed, success: todo.completed}">
        <td>
          <form class="form-inline">
            <div class="checkbox">
              <label>
                <input type="checkbox" ng-model="todo.completed">
                {{todo.title}}
              </label>
            </div>
          </form>
        </td>
        <td>
          {{todo.created_at | date:'dd MMM yyyy'}}
        </td>
        <td>
          {{todo.due_date | date:'dd MMM yyyy'}}
        </td>
        <td>
          {{todo.priority}}
        </td>
        <td>
          <a href ng-click="editTodo(todo)" ng-show="hover">Edit</a>
          <a href ng-click="deleteTodo(todo)" ng-show="hover">Delete</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
